<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tomasky.fqxz.mapper.IShopRecommendMapper">

    <select id="selectByModel" parameterType="com.tomasky.fqxz.model.ShopRecommend"
            resultType="com.tomasky.fqxz.model.ShopRecommend">
        select id,innid,shopname,tel,address,website,createtime
        from shop_recommend where 1=1
        <if test="innId!=null">
            and innid=#{innId}
        </if>
    </select>

</mapper>